h1{
    color: aquamarine;
}

div {
    border: 1 px;
    width: auto;
    align-content: center;
    background: white;
    margin: 10px;
    padding: 50px;
    margin-top: 80px;
}

body {
    font: 16px;
    background: #f0f0f2;
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}